$main-color: #2c0a51;
$text-color: #fff;

$small: 320px;
$medium: 768px;
$large: 1024px;
// fonts
$glow-shadow: 0px 0px 5px #bbb;

$f-bold: 900;
$f-semibold: 700;
$f-normal: 500;
$f-light: 400;
$f-lighter: 300;
@mixin card-product-name {
  font-weight: 700;
  font-size: 1.2em;
}

// layouts

// flex center

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
